[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "deps/SFML"]
	path = deps/SFML
	url = https://github.com/SFML/SFML.git
[submodule "deps/SDL_ttf"]
	path = deps/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
